*{
  margin: 0;
  padding: 0;
}

#container
{
  background:none;
  width: 100%;
  font-family: arial;
}
 header{
   background: black;;
   width: 100%;
   color: white;
   font-family: arial;
 }
#leftheader{

  width:700px;
  height: 150px;
  background-image: url(Jt/logo_jt.png);
  background-size:700px 150px;
  float: left;
  margin-left: 10px;
}

#right_header
{
  float: right;
  margin-top: 5px;
}

#right_header ul
{
  list-style-type:none;
}

#right_header ul li
{
  float: left;
  font-size: 23px;
  padding: 56px 41.3px;
  background: none;
  font-weight: bold;
  margin: 0 1px;
  transition: background 0.7s linear;
  cursor: pointer;
}

#right_header ul li:hover
{
  background-color: orange;
}

.clearfloat
{
  clear: both;
}
main{}
main img{
  margin: 10px 40px;

}

.section1 h2{
  text-align: center;
  padding: 30px;
  font-size: 55px;
  color: black;
  text-shadow: 5px 5px 10px gray;
  letter-spacing: 1px;
}

.section1{
padding: 20px;}


.finance_partners{
  width: 400px;
  margin: 20px 35px;
  float: left;

  }
.finance_partners img{
  width: 310px;

}

.titles{
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}
 .descps{
   text-shadow: 0 0 2px grey ;
   text-align: center;
   font-size: 20px;
   }
.section2{
  width: 100%;
  height: 650px;
  background-image: url("Jt/jt3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 5px ;
  box-sizing: border-box;
}

.section2 h2{
  text-align: center;
  padding: 30px;
  font-size: 60px;
  color: white;
  text-shadow: 5px 5px 10px gray;
  letter-spacing: 1px;
  text-decoration: none;
  transition: text-decoration 1s;
}

.section2 h2:hover{
  text-decoration: underline;
  cursor: pointer;
}

.left_side{
  animation: animations 3s;
  animation-iteration-count:infinite;
  animation-timing-function:steps(20);
  text-align: center;
  margin-left: 320px;
  width: 55%;
  color: black;
  box-shadow: 0 0 10px black;
  padding: 20px;
  text-shadow: 5px 2px 10px gray;
  font-family: arial;
  border-radius: 40px;
  background-color:white;
  opacity: 0.75;
  font-weight: bolder;
  font-size: 25px;
  line-height: 35px;
  word-spacing: 2px;
  letter-spacing: 2px;
}
footer{
  width: 100%;
  background-color: black;
  color: white;
}
#leftfooter{
  font-size: 25px;
  float: left;
  padding: 40px 50px;
  letter-spacing: 2px;
}
#rightfooter {
  float: right;
  padding: 0px;

}
#rightfooter ul{
  list-style-type:none;}
#rightfooter ul li{
  float: left;
  width: 145px;
  text-align: center;
  padding: 40px 40px;
  font-size: 22px;
  font-weight: bolder;
  background: none;
}
#rightfooter ul li:hover{
  color: orange;
}
