*{
  margin: 0;
  padding: 0;
}
#contain{
  background-color:none;
  width:auto;
  margin:0 auto;
  }
header{
  background:none;
  height:300px;
  }
#jrlogo{
  float: left;
  margin-left: 45px;
  margin-top: 2px;
  margin-bottom: 40px;
  width: 500px;
  height: 250px;
  background-image: url(logo.png);
  background-size: 500px 270px;
  background-repeat: no-repeat;}

header img{
  height: 100px;
  width:100px;
  margin-left:305px;
  margin-top: 80px;
  float: left;}
#callusat{
  margin-top:95px;
  margin-left:30px;
  float: left;
  width: 200px;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}
#emailus{
  float: left;
  margin-left: 7px;
  margin-top: 7px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bolder;
}
nav{
  background:#E0E0E0;
  height:98px;
}
nav ul{
  list-style-type: none;
}
nav li{
  width:auto;
  float: left;
  text-align: center;
  padding:33.8px;
  font-family: "times new roman";
  font-weight: bolder;
  font-size: 25px;
  color: black;
  border-bottom: 2px solid #C8C8C8;
  border-top: 2px solid #C8C8C8;
  transition: background 1s;
}
nav li:hover{
  background-color:black;
  color:white;
}
a li.active{
  background:white;
  color:brown;
  box-shadow: 0 0 5px grey;
}

main{
  margin-top: 5px;
  height: 500px;
  margin-bottom: 2px;
}
section{
  background:none;
  width:900px;
  height: 500px;
  float: left;
}
aside{
  background:#F5F5F5;
  width:449px;
  height: 500px;
  float: left;
}

summary{
  margin-top:20px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1px;
  word-spacing: 0.5px;
}
details ul{
  list-style-type: none;}

details li{
  font-size: 25px;
  margin-top:10px;
  margin-left: 40px;
}
footer{
}
.brandlogo
{
width: 300px;
height: 200px;
background-size: 200px 120px;
background-repeat: no-repeat;
margin-top: 20px;
margin-left: 30px;
float: left;
}
#copyright
{
text-align: center;
font-size: 25px;
font-weight: bolder;
padding: 10px 0px;
}
