*{
  margin: 0;
  padding: 0;
}
#logo{
width:500px;
height: 250px;
background-image: url(logo.png);
background-size: 500px 270px;
background-repeat: no-repeat;
margin-left: 45px;
}
img{
  height: 100px;
  width:100px;
  float: right;
  margin-top: -170px;
  margin-right: 400px;}
#call{
  float: right;
  width: 200px;
  margin-top: -155px;
  margin-right: 170px;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}
#email{
  float: right;
  border: 1px solid black;
  margin-top: -80px;
  margin-right: 90px;
  font-size: 18px;
  font-weight: bolder;
}
a:link{ color:blue;}
a:visited{color:white;}
a:hover{color: brown;}
a:active{color:red;}

#middle
{
  height:400px;
  margin-top:50px;
}
footer{}

#copyright{
text-align: center;
font-size: 25px;
font-weight: bolder;
padding: 10px 0px;}

  .brandlogo{
  width: 300px;
  height: 200px;
  background-size: 200px 120px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 30px;
  float: left;}
